.root{
    -fx-background-image: url(../Images/misc/sfondo_parquet.jpg);
    -fx-background-size: cover;
}
.pane-create-game{
    -fx-background-color: rgb(60, 40, 14, 0.3) ;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color:rgb(60, 40, 14);
}
.list-view{
    -fx-background-color: rgb(200,200,200, 0.4);
}